.first-container {
  
  background-color: #FFB22C;
  height: 100vh;
}

.first-container h1 {
  padding-top: 300px;
  color: #FF4C4C;
  font-size: 5rem;
  text-align: center;
  
}

.first-container h2 {
  color: #FF4C4C;
  font-size: 3rem;
  text-align: center;
  

}

.second-container {
  
  background-color: #FFB22C;
  height: 100vh;
}

.second-container h1 {
  padding-top: 300px;
  color: #FF4C4C;
  font-size: 5rem;
  text-align: center;
  
 
  
}

.second-container h2 {
  color: #FF4C4C;
  font-size: 3rem;
  text-align: center;
  

}

.second-container p {
  color: #000000;
  font-size: 2rem;
  text-align: justify;
  

}

 .col-md-6 img {
  width: 75%;
  height: 75%;
  
} 

main {
  display: grid;
  grid-template-columns: auto auto auto;

  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;

}





