.first-container {
  
  background-color: #FFB22C;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-container h1 {
  color: #FF4C4C;
  font-size: 5rem;
  text-align: center;
  margin: 0;
  
}

.first-container h2 {
  color: #FF4C4C;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  

}

.second-container {
  
  background-color: #FFB22C;
  height: 100vh;
}

.second-container h1 {
  padding-top: 300px;
  color: #FF4C4C;
  font-size: 5rem;
  text-align: center;
  
 
  
}

.second-container h2 {
  color: #FF4C4C;
  font-size: 3rem;
  text-align: center;
  

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.second-container p {
  color: #000000;
  font-size: 2rem;
  text-align: justify;
  

}

 .col-md-6 img {
  width: 75%;
  height: 75%;
  
} 

/* main {
  display: grid;
  grid-template-columns: auto auto auto;

  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;

} */

.container {
  display: grid;
  grid-template-columns: auto auto;
  /* background-color: */ 
  padding: 10px;
}

.container div {
  /* background-color:  */
  /* border: 2px solid black; */
  padding: 10px;
  font-size: 30px;
  text-align: center;

}

h1 {
  position: fixed;
  top: 0;
  left: 50%;
  /* transform: translateX(-50%); */
 /*  z-index: 10; */
  /* margin: 0; */
 /*  padding: 10px; */
  /* background-color: white; /* optional, to make it visible over content */ */
}






