.first-container {
  
  background-color: #FFB22C;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-container h1 {
  color: #FF4C4C;
  font-size: 5rem;
  text-align: center;
  margin: 0;
  
}

.first-container h2 {
  color: #FF4C4C;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  

}

.second-container {
  
  background-color: #FFB22C;
  height: 100vh;
}

.second-container h1 {
  padding-top: 300px;
  color: #FF4C4C;
  font-size: 5rem;
  text-align: center;
  
 
  
}

.second-container h2 {
  color: #FF4C4C;
  font-size: 3rem;
  text-align: center;
  

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.second-container p {
  color: #000000;
  font-size: 2rem;
  text-align: justify;
  

}

 .col-md-6 img {
  width: 75%;
  height: 75%;
  
} 


h1 {
  position: fixed;
  top: 0;
  left: 50%;
  
}

.container {
  border: 5px solid black;
  
}










